<div *ngIf="selectedTabIndex===0" class="execution-buttons">
  <button mat-button class="blueBtn fRight fontbold" (click)="onRefreshButtonClicked()">
    <i class="material-icons">refresh</i>
    Refresh
  </button>
  <button mat-button class="blueBtn fRight fontbold" style="margin-right: 10px;" [disabled]="!isExecuteButtonEnabled" (click)="executeButtonSubject.next()">
    <i class="material-icons">play_arrow</i>
    Execute
  </button>
</div>
<mat-tab-group [ngStyle]="{'margin-top': selectedTabIndex===0 ? '-41px' : '0px'}" [@.disabled]="true" (selectedIndexChange)="selectedTabIndex=$event">
  <mat-tab label="Execution">
    <test-case-consolidated-results *ngIf="selectedTabIndex===0" [executeButtonSubject]="executeButtonSubject" (checkBoxValueChanged)="isExecuteButtonEnabled=$event"></test-case-consolidated-results>
  </mat-tab>
  <mat-tab label="Results">
    <test-case-historical-results *ngIf="selectedTabIndex===1"></test-case-historical-results>
  </mat-tab>
</mat-tab-group>
